@charset "UTF-8";

@import "components/variables";
@import "components/normalize";
@import "components/global";
@import "components/grid";
@import "components/typography";


img {
	width: 200px;
	height: auto;
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}

#archive {
	clear: both;
	
	td, th {
		&:not(:first-child) {
			width: 10%;
			white-space: nowrap;
		}
	}
}
