//Default styles

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
}

body {
	background: $body-bg-color;
	color: $body-text-color;
}

main {
	margin-top: 40px;
	margin-bottom: 40px;
}

a {
	color: $link-color;
	text-decoration: none;

	// Gets rid of tap active state
	-webkit-tap-highlight-color: transparent;

	&:hover {
		text-decoration: underline;
	}
}


/*********************
	Media Query Classes
**********************/
.hide-on-small-only, .hide-on-small-and-down {
	@media #{$small-and-down} {
		display: none !important;
	}
}
.hide-on-med-and-down {
	@media #{$medium-and-down} {
		display: none !important;
	}
}
.hide-on-med-and-up {
	@media #{$medium-and-up} {
		display: none !important;
	}
}
.hide-on-med-only {
	@media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
		display: none !important;
	}
}
.hide-on-large-only {
	@media #{$large-and-up} {
		display: none !important;
	}
}
.show-on-large {
	@media #{$large-and-up} {
		display: block !important;
	}
}
.show-on-medium {
	@media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
		display: block !important;
	}
}
.show-on-small {
	@media #{$small-and-down} {
		display: block !important;
	}
}
.show-on-medium-and-up {
	@media #{$medium-and-up} {
		display: block !important;
	}
}
.show-on-medium-and-down {
	@media #{$medium-and-down} {
		display: block !important;
	}
}

// Center text on mobile
.center-on-small-only {
	@media #{$small-and-down} {
		text-align: center;
	}
}


// Tables
table, th, td {
	 border: none;
}

table {
	width:100%;
	display: table;
	border-collapse: collapse;
	border-spacing: 0;

	&.centered {
		thead tr th, tbody tr td {
			text-align: center;
		}
	}
}

tr {
	border-bottom: 1px solid $table-border-color;
}

td, th{
	padding: 15px 5px;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	border-radius: 2px;
}


/*******************
	Utility Classes
*******************/

.hide {
	display: none !important;
}

// Text Align
.left-align {
	text-align: left;
}
.right-align {
	text-align: right
}
.center, .center-align {
	text-align: center;
}

.left {
	float: left !important;
}
.right {
	float: right !important;
}
.clearfix {
	clear: both;
}

.truncate {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
