html {
	line-height: 1.5;

	@media only screen and (min-width: 0) {
		font-size: 15.5px;
	}

	@media only screen and (min-width: $medium-screen) {
		font-size: 16px;
	}

	@media only screen and (min-width: $large-screen) {
		font-size: 16.5px;
	}

	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	color: $off-white;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
}
h2, h3, h4, h5, h6 {
	color: $secondary-color;
}

// Header Styles
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: $h1-fontsize; margin: 0 0 ($h1-fontsize / 3) 0;}
h2 { font-size: $h2-fontsize; margin: 0 0 ($h2-fontsize / 3) 0;}
h3 { font-size: $h3-fontsize; margin: 0 0 ($h3-fontsize / 3) 0;}
h4 { font-size: $h4-fontsize; margin: 0 0 ($h4-fontsize / 3) 0;}
h5 { font-size: $h5-fontsize; margin: 0 0 ($h5-fontsize / 3) 0;}
h6 { font-size: $h6-fontsize; margin: 0 0 ($h6-fontsize / 3) 0;}
