// Colors

$primary-color: #73c3fa !default;
$secondary-color: #ff70c6 !default;

$link-color: $primary-color !default;
$body-bg-color: #000000 !default;
$body-text-color: #d6d6d6 !default;


// Media Query Ranges
$small-screen: 800px !default;
$medium-screen: 1200px !default;
$large-screen: 1440px !default;
$small-screen-up: $small-screen+1 !default;
$medium-screen-up: $medium-screen+1 !default;
$large-screen-up: $large-screen+1 !default;

$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;


// Grid

$num-cols: 12 !default;
$gutter-width: 1.5rem !default;


// Typography

$off-black: #1f1f1f !default;
$off-white: #d6d6d6 !default;
// Header Styles
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1rem !default;


// Tables

$table-border-color: #1f1f1f !default;
